<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="33.0.3" targetFramework="net461" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="NLog" version="4.7.0" targetFramework="net461" />
</packages>