<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdaterApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
   <connectionStrings>
    <add name="ModelSm"
   connectionString="data source=.\sql2017Bk;initial catalog=NegozioSM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
                providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<applicationSettings>
		<UpdaterApplication.Properties.Settings>
   <setting name="tipoFile" serializeAs="String">
    <value>*.dll;*.exe</value>
   </setting>
   <setting name="FileDaEscludere" serializeAs="String">
    <value>*.config</value>
   </setting>
   <setting name="ApplicazioneDaAprire" serializeAs="String">
    <value>StrumentiMusicali.App.exe</value>
   </setting>
   <setting name="SottoCartelle" serializeAs="String">
    <value>Template*</value>
   </setting>
   <setting name="CartellaServer" serializeAs="String">
    <value>C:\Users\evang\source\repos\StrumentiMusicali\Bin</value>
   </setting>
   <setting name="CartellaLocale" serializeAs="String">
    <value>C:\Users\evang\OneDrive\Desktop\PRova</value>
   </setting>
  </UpdaterApplication.Properties.Settings>
	</applicationSettings>
</configuration>